@model CHSR.Models.ResourcePerson

@{
    ViewData["Title"] = "Create";
    List<Institute> institutes = (List<Institute>)ViewData["institutes"];
    List<Specialization> specializations = (List<Specialization>)ViewData["specializations"];
}

<h1>Create</h1>

<h4>ResourcePerson</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.DropDownList("Institute", new SelectList(institutes, "ID", "Name"), optionLabel: "Select Institute")
            </div>
            <div class="form-group" id="FacultyID">
                @*@Html.DropDownList("FacultyID", new SelectList(, "ID", "Name"))*@

            </div>
            <div class="form-group" id="DepartmentID">

            </div>

            @*<div class="col-md-10">
            <p>Upload your photo here:</p>
            <input type="file" asp-for="Photo">
        </div>*@

            <div class="custom-file">
                <input type="file" asp-for="Photo" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
                <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
            </div>

            <div class="form-group">
                <label asp-for="Designation" class="control-label"></label>
                <input asp-for="Designation" class="form-control" />
                <span asp-validation-for="Designation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.DropDownList("Specialization", new SelectList(specializations, "Id", "Name"), optionLabel: "Select Specialization")
            </div>
            <div class="form-group" id="SubID">

            </div>

            @*<div class="form-group">
                <label asp-for="ResearchInterest" class="control-label"></label>
                <input id="rinput" class="form-control" />
                <span asp-validation-for="ResearchInterest" class="text-danger"></span>
                <button type="button" id="rid">+</button>
            </div>
            <div class="form-group" id="result">
                
            </div>*@

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<script>
$(document).ready(function(){
  $("#Institute").change(function(){
      console.log($(this).val());
      var temp = $(this).val();
      		$.ajax('/Faculties/GetFaculties/'+temp)
                    .done(function (response) {
                var listItems= "<option value=''>Select Faculty</option>";
                console.log(response);

                for (var i = 0; i < response.length; i++){
                    listItems+= "<option value='" + response[i].id + "'>" + response[i].name + "</option>";
                    }
                $("#FacultyID").html("<Select name=faculty>"+listItems+"</Select>");

                        $("#DepartmentID").hide();

			});
  });

    $("#FacultyID").on("change",'select',function () {
        console.log($(this).val());

            var temp = $(this).val();
      		$.ajax('/Departments/GetDepartments/'+temp)
                    .done(function (response) {
                var listItems= "<option value='' >Select Department</option>";
                console.log(response);

                for (var i = 0; i < response.length; i++){
                    listItems+= "<option value='" + response[i].id + "'>" + response[i].name + "</option>";
                    }
                $("#DepartmentID").html("<Select name=department>"+listItems+"</Select>");
                
                $("#DepartmentID").show();
			});

    });

      $("#Specialization").change(function(){
      console.log($(this).val());
      var temp = $(this).val();
      		$.ajax('/SubSpecializations/GetSubSpecializations/'+temp)
                    .done(function (response) {
                var listItems= "<option value=''>Select Sub Specialization</option>";
                console.log(response);

                for (var i = 0; i < response.length; i++){
                    listItems+= "<option value='" + response[i].id + "'>" + response[i].name + "</option>";
                        }
                        $("#SubID").html("<Select name=subspecialization>" + listItems + "</Select>");
                

			});
      });

    $("#rid").click(function(){
      console.log($(this).val());
      var temp = $("#rinput").val();
        console.log(temp);
        $("#result").append("<p>" + temp + "<input type='hidden' name='ResearchInterest' value='" + temp + "' /></p>");

  });


} );
</script>