<nav class="sidebar-nav">
    <ul class="nav">

        @if (User.IsInRole("Admin"))
        {
            <li class="nav-item nav-dropdown">
                <a class="nav-link nav-dropdown-toggle" href="#"><i class="icon-puzzle"></i>User Management</a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="UAM" asp-action="Users"><i class="icon-drop"></i> Users</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="UAM" asp-action="Roles"><i class="icon-pencil"></i> Roles</a>
                    </li>
                </ul>
            </li>

            <li class="nav-item nav-dropdown">
                <a class="nav-link" asp-controller="Institute" asp-action="Index"><i class="icon-drop"></i>Institute</a>
            </li>
        }

        <li class="nav-item nav-dropdown">
            <a class="nav-link" asp-controller="Sessions" asp-action="Index"><i class="icon-drop"></i>Session</a>
        </li>

        <li class="nav-item nav-dropdown">
            <a class="nav-link" asp-controller="Institutes" asp-action="Index"><i class="icon-drop"></i>Institute</a>
        </li>

    </ul>
</nav>