
@{
    Layout = "_ErrorLayout";
}

@model AdmissionApplication

<h1>Admission Form</h1>

<form asp-action="Index" asp-controller="AdmissionApplication">

    @Html.TextBoxFor(x => x.CandidateNameEnglish)

    <button type="submit">Submit</button>
</form>
