@model CHSR.Models.Session

@{
    ViewData["Title"] = "Create";

    int year = DateTime.Today.Year;

    List<SelectListItem> sessions = new List<SelectListItem>();
    sessions.Add(new SelectListItem
    {
        Text= (year-1) +"-"+(year),
        Value=(year-1) +"-"+(year)
    }
    );
    sessions.Add(new SelectListItem
    {
        Text= (year) +"-"+(year+1),
        Value= (year) +"-"+(year+1)
    }
    );
    sessions.Add(new SelectListItem
    {
        Text= (year+1) +"-"+(year+2),
        Value=(year+1) +"-"+(year+2)
    }
    );

}

<h1>Create</h1>

<h4>Session</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                
                @Html.DropDownList("SessionCreate", sessions, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label asp-for="RegistrationExpired" class="control-label"></label>
                <input asp-for="RegistrationExpired" class="form-control" />
                <span asp-validation-for="RegistrationExpired" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

