<nav class="sidebar-nav">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" asp-controller="CoreUI" asp-action="Index" asp-route-id=""><i class="icon-speedometer"></i> Dashboard </a>
        </li>
        <li class="nav-item nav-dropdown">
            <a class="nav-link nav-dropdown-toggle" href="#"><i class="icon-puzzle"></i>Theme</a>
            <ul class="nav-dropdown-items">
                <li class="nav-item">
                    <a class="nav-link" asp-controller="UAM" asp-action="Users"><i class="icon-drop"></i> Users</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="UAM" asp-action="Roles"><i class="icon-pencil"></i> Roles</a>
                </li>
            </ul>
        </li>
    </ul>
</nav>

