
@{
    ViewData["Title"] = "Update User";
    ViewData["Name"] = "Update User";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model RegisterViewModel

<h2>@ViewData["Title"]</h2>
<div class="row">
    <div class="col-md-4">
        <section>
            <form method="post">
                <hr />
                <div class="form-group">
                    <label asp-for="FirstName"></label>
                    <input asp-for="FirstName" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="LastName"></label>
                    <input asp-for="LastName" class="form-control" />
                </div>
                <div class="form-group">
                    <input asp-for="UserName" type="hidden" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="Email"></label>
                    <input asp-for="Email" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="sel1">Select Role:</label>
                    <select class="form-control" asp-for="RoleId" asp-items="@ViewData["Roles"] as List<SelectListItem>"></select>
                </div>

                <button type="submit">Update</button>
            </form>
        </section>
    </div>
</div>

