@{
    ViewData["Title"] = "Home Page";
}

    <section class="tg-sectionspace tg-haslayout">
        <div class="tg-shortcode tg-welcomeandgreeting">
            <figure><img src="http://bup.edu.bd/assets_client/newNewCssJs/images/sir2.jpg" alt="image description"></figure>
            <div class="tg-shortcodetextbox">
                <h2>Welcome &amp; Greetings</h2>
                <div class="tg-description" style="text-align:  justify;">
                    <p>Welcome to the website of Bangladesh University of Professionals (BUP). It is a public university established on June 5, 2008 with a motto "Excellence Through knowledge". BUP with its own unique features is set up in a green landscape away from busy life of metropolitan city.The University provides a tranquil, pollution free, secured campus life.</p>
                </div>
                <span class="tg-name">Major General Md Emdad-Ul-Bari, ndc, psc, te</span>
                <span class="tg-designation">
                    Vice Chancellor, BUP
                </span>
            </div>
        </div>
    </section>

